POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=car_dealer
POSTGRES_USER=analytics
POSTGRES_PASSWORD=change_me

AIRFLOW_ADMIN_PASSWORD=change_me

SUPERSET_DATABASE_URI=postgresql+psycopg2://superset:superset@superset_db:5432/superset
SUPERSET_SECRET_KEY=change_me