# Environment
.env

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Local data
data/*
!data/.gitkeep
!data/README.md

# Generated data
exports/
raw_data/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db